* {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #02020a;
  --color-primary: #b497d6;
  --color-secondary: #05204a;
  --color-background-1: #e1e2ef;
  --color-background-2: #bfacaa;
  --header-height: 150px;
  --display-height: 600px;
}

body {
  background-color: var(--color-background-1);
  font-family: "Abril Fatface", serif;
}

header {
  display: flex;
  height: var(--header-height);
  background: var(--color-primary);
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 4rem;
  font-weight: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  aspect-ratio: 1/1;
  width: var(--display-height);
  margin: calc((100vh - var(--header-height) - var(--display-height)) / 2);
  background-color: var(--color-background-2);
}

.game-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((var(--display-height) / 3) * 0.5);
  color: var(--color-secondary);
  border: 3px solid var(--color-secondary);
}

.game-cell:hover {
  background-color: var(--color-primary);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
